body {
    margin: 0;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    max-width: 70ch;
    margin: 3rem auto;
    padding: 0 0.5rem;
}

/* Hides cursors if editor is not focused */
.ace_hidden-cursors {
    opacity: 0;
}